<?xml version="1.0" encoding= "UTF-8"?>
<Configuration>
    <properties>
        <property name="pattern">% {yyyy-MM-dd HH:mm:ss} [%t] Sp - %-65m [%C{-3} .%M (SF: SL) J%n
        </property>
    </properties>
    <Appenders>
        <File name="File" fileName="target/Logs/appTest.Log">
            <PatternLayout pattern="${pattern}"/>
        </File>

        <Console name="Console">
            <PatternLayout pattern="$ {pattern]"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>